ansible-core<2.19 # molecule-plugins 23, the newest molecule<25 allows, fails on 2.19+
ansible-lint
dnspython
docker
jsonschema
molecule<25       # molecule 25 breaks collection path determination
molecule-plugins
netaddr
paramiko
python-irodsclient
requests
scp
tox-ansible
