{
	"advanced_settings": {
		"agent_factory_watcher_sleep_time_in_seconds": 5,
		"default_number_of_transfer_threads": {{ _irods_default_number_of_transfer_threads }},
		"default_temporary_password_lifetime_in_seconds": 120,
		"delay_rule_executors": [],
		"delay_server_sleep_time_in_seconds": 30,
		"dns_cache": {
			"cache_clearer_sleep_time_in_seconds": 600,
			"eviction_age_in_seconds": 3600,
			"shared_memory_size_in_bytes": 5000000
		},
		"host_name_cache": {
			"cache_clearer_sleep_time_in_seconds": 600,
			"eviction_age_in_seconds": 3600,
			"shared_memory_size_in_bytes": 2500000
		},
		"maximum_size_for_single_buffer_in_megabytes": 32,
		"maximum_size_of_delay_queue_in_bytes": 0,
		"maximum_temporary_password_lifetime_in_seconds": 1000,
		"migrate_delay_server_sleep_time_in_seconds": 5,
		"number_of_concurrent_delay_rule_executors": {{ _irods_max_num_re_procs }},
		"stacktrace_file_processor_sleep_time_in_seconds": 10,
		"transfer_buffer_size_for_parallel_transfer_in_megabytes": {{ _irods_parallel_transfer_buffer_size }},
		"transfer_chunk_size_for_parallel_transfer_in_megabytes": 40
	},
	"catalog_provider_hosts": [
		"{{ _irods_catalog_provider }}"
	],
	"catalog_service_role": "consumer",
	"client_api_allowlist_policy": "enforce",
	"controlled_user_connection_list": {
		"control_type": "denylist",
		"users": []
	},
	"default_dir_mode": "{{ _irods_default_dir_mode }}",
	"default_file_mode": "{{ _irods_default_file_mode }}",
	"default_hash_scheme": "{{ _irods_default_hash_scheme }}",
	"default_resource_name": "{{ _irods_default_resource }}",
	"environment_variables": {},
	"federation": {{ _irods_federation }},
	"host_access_control": {
		"access_entries": []
	},
	"host_resolution": {
		"host_entries": {{ [] if _irods_host_aliases | count == 0 else
			[
				{
					'address_type': 'local',
					'addresses': [inventory_hostname] + _irods_host_aliases
				}
			] }}
	},
	"log_level": {
		"agent": "info",
		"agent_factory": "info",
		"api": "info",
		"authentication": "info",
		"database": "info",
		"delay_server": "info",
		"legacy": "info",
		"microservice": "info",
		"network": "info",
		"resource": "info",
		"rule_engine": "info",
		"server": "info",
		"sql": "info"
	},
	"match_hash_policy": "compatible",
	"negotiation_key": "{{ _irods_negotiation_key }}",
	"plugin_configuration": {
		"authentication": {},
		"network": {},
		"resource": {},
		"rule_engines": [
			{
				"instance_name": "irods_rule_engine_plugin-irods_rule_language-instance",
				"plugin_name": "irods_rule_engine_plugin-irods_rule_language",
				"plugin_specific_configuration": {
					"re_data_variable_mapping_set": [
						"core"
					],
					"re_function_name_mapping_set": [
						"core"
					],
					"re_rulebase_set": [
{% for s in _irods_cfg_re.additional_rulebases %}
						"{{ s }}",
{% endfor %}
						"core"
					],
					"regexes_for_supported_peps": [
						"ac[^ ]*",
						"msi[^ ]*",
						"[^ ]*pep_[^ ]*_(pre|post|except|finally)"
					]
				},
				"shared_memory_instance": "irods_rule_language_rule_engine"
			},
			{
				"instance_name": "irods_rule_engine_plugin-cpp_default_policy-instance",
				"plugin_name": "irods_rule_engine_plugin-cpp_default_policy",
				"plugin_specific_configuration": {}
			}
		]
	},
	"rule_engine_namespaces": [
		""
	],
	"schema_name": "server_config",
	"schema_validation_base_uri": "file:///var/lib/irods/configuration_schemas",
	"schema_version": "v4",
	"server_control_plane_encryption_algorithm": "AES-256-CBC",
	"server_control_plane_encryption_num_hash_rounds": 16,
	"server_control_plane_key": "{{ _irods_server_control_plane_key }}",
	"server_control_plane_port": 1248,
	"server_control_plane_timeout_milliseconds": 10000,
	"server_port_range_end": {{ _irods_server_port_range_end }},
	"server_port_range_start": {{ _irods_server_port_range_start }},
	"zone_auth_scheme": "native",
	"zone_key": "{{ _irods_zone_key }}",
	"zone_name": "{{ _irods_zone_name }}",
	"zone_port": {{ _irods_zone_port }},
	"zone_user": "{{ _irods_clerver_user }}"
}
