PURGEMAN_AMQP_HOST={{ _webdav_amqp_host }}
PURGEMAN_AMQP_PORT={{ _webdav_amqp_port }}
PURGEMAN_AMQP_VHOST={{ _webdav_amqp_vhost }}
PURGEMAN_AMQP_EXCHANGE={{ _webdav_amqp_exchange }}
PURGEMAN_AMQP_USERNAME={{ _webdav_amqp_username }}
PURGEMAN_AMQP_PASSWORD={{ _webdav_amqp_password }}

PURGEMAN_IRODS_HOST={{ _webdav_irods_host }}
PURGEMAN_IRODS_PORT={{ _webdav_irods_port }}
PURGEMAN_IRODS_ZONE={{ _webdav_irods_zone }}
PURGEMAN_IRODS_USERNAME={{ _webdav_irods_username }}
PURGEMAN_IRODS_PASSWORD={{ _webdav_irods_password }}

PURGEMAN_VARNISH_URLS=http://127.0.0.1:{{ _webdav_varnish_service_port }}/dav,http://127.0.0.1:{{ _webdav_varnish_service_port }}/dav-anon
