---
- name: Make storage resources
  ansible.builtin.import_playbook: irods_storage_resources.yml


- name: Configure iRODS for PIRE
  hosts: irods_catalog
  run_once: true
  tasks:
    - name: Configure iRODS for PIRE
      delegate_to: localhost
      block:
        - name: Make PIRE resource hierarchy
          cyverse.ds.irods_resource_hierarchy:
            hierarchy: "{{ _pire_resource_hierarchy }}"
            host: "{{ groups['irods_catalog'][0] }}"
            port: "{{ _irods_zone_port }}"
            zone: "{{ _irods_zone_name }}"
            admin_username: "{{ _irods_clerver_user }}"
            admin_password: "{{ _irods_clerver_password }}"

        - name: Create group for PIRE members
          cyverse.ds.irods_group:
            group: pire
            state: present
            host: "{{ groups['irods_catalog'][0] }}"
            port: "{{ _irods_zone_port }}"
            admin_user: "{{ _irods_clerver_user }}"
            admin_password: "{{ _irods_clerver_password }}"
            zone: "{{ _irods_zone_name }}"

        - name: Add PIRE manager to group
          when: _pire_manager != ''
          cyverse.ds.irods_group_member:
            group: pire
            users:
              - "{{ _pire_manager }}"
            state: present
            host: "{{ groups['irods_catalog'][0] }}"
            port: "{{ _irods_zone_port }}"
            admin_user: "{{ _irods_clerver_user }}"
            admin_password: "{{ _irods_clerver_password }}"
            zone: "{{ _irods_zone_name }}"

        - name: Create public collection
          cyverse.ds.irods_collection:
            path: /{{ _irods_zone_name }}/home/shared/eht
            parents: true
            state: present
            host: "{{ groups['irods_catalog'][0] }}"
            port: "{{ _irods_zone_port }}"
            admin_user: "{{ _irods_clerver_user }}"
            admin_password: "{{ _irods_clerver_password }}"
            zone: "{{ _irods_zone_name }}"

        - name: Assign public collection to PIRE resource
          cyverse.ds.irods_avu:
            entity_type: resource
            entity_name: "{{ _pire_resource_hierarchy.name }}"
            attribute: ipc::hosted-collection
            value: /{{ _irods_zone_name }}/home/shared/eht
            units: required
            host: "{{ groups['irods_catalog'][0] }}"
            port: "{{ _irods_zone_port }}"
            zone: "{{ _irods_zone_name }}"
            username: "{{ _irods_clerver_user }}"
            password: "{{ _irods_clerver_password }}"
            state: add

        - name: Create project collection
          when: _pire_manager != ''
          cyverse.ds.irods_collection:
            path: /{{ _irods_zone_name }}/home/shared/bhpire
            parents: true
            host: "{{ groups['irods_catalog'][0] }}"
            port: "{{ _irods_zone_port }}"
            admin_user: "{{ _irods_clerver_user }}"
            admin_password: "{{ _irods_clerver_password }}"
            zone: "{{ _irods_zone_name }}"

        - name: Assign project collection to PIRE resource
          when: _pire_manager != ''
          cyverse.ds.irods_avu:
            entity_type: resource
            entity_name: "{{ _pire_resource_hierarchy.name }}"
            attribute: ipc::hosted-collection
            value: /{{ _irods_zone_name }}/home/shared/bhpire
            units: required
            host: "{{ groups['irods_catalog'][0] }}"
            port: "{{ _irods_zone_port }}"
            zone: "{{ _irods_zone_name }}"
            username: "{{ _irods_clerver_user }}"
            password: "{{ _irods_clerver_password }}"
            state: add

        - name: Give PIRE manager own permission on project collection
          when: _pire_manager != ''
          cyverse.ds.irods_permission:
            subject: "{{ _pire_manager }}"
            permission: own
            object: /{{ _irods_zone_name }}/home/shared/bhpire
            host: "{{ groups['irods_catalog'][0] }}"
            port: "{{ _irods_zone_port }}"
            admin_user: "{{ _irods_clerver_user }}"
            admin_password: "{{ _irods_clerver_password }}"
            zone: "{{ _irods_zone_name }}"

        - name: Bring up PIRE resource
          cyverse.ds.irods_resource_up:
            resource: "{{ item.name }}"
            host: "{{ groups['irods_catalog'][0] }}"
            port: "{{ _irods_zone_port }}"
            zone: "{{ _irods_zone_name }}"
            admin_user: "{{ _irods_clerver_user }}"
            admin_password: "{{ _irods_clerver_password }}"
          loop: "{{ _pire_resource_hierarchy.children }}"